body {
    font-family: "Roboto";
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: "DM Serif Display", serif;
}

.nyt-logo-font {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  font-style: normal;
}

.subheading-font {
    font-family: "Georgia", serif;
}

.container {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.btn {
    border-radius: 1.5em;
    padding: 12px 24px;
}

/* Navbar */

.navbar {
    background-color: #f4f4f4;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    font-size: 1.25em;
    padding-right: 5px;
    border-right: 1px solid #555;
}

.navbar-brand .title {
    font-size: 1.5em;
    padding-left: 5px;
}

#fixed-navbar-spacing {
    height: 50px;
}

/* Greetings */

.container.intro,
.container.outro {
    text-align: center;
}

.ribbon {
  font-size: 0.9em;
  color: #fff;
  transform: rotate(-2deg);
  margin: 5px 0;
}

.ribbon {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: var(--d) calc(var(--s) + .5em);
  line-height: 2;
  background: 
    conic-gradient(from  45deg at left  var(--s) top var(--d),
     #0008 12.5%,#0000 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(100% calc(2*var(--d)),calc(100% - var(--s)) calc(2*var(--d)),calc(100% - var(--s)) var(--d),calc(var(--s) + var(--d)) var(--d),calc(var(--s) + var(--d)) 0,0 0,var(--c) calc(50% - var(--d)),0 calc(100% - 2*var(--d)),var(--s) calc(100% - 2*var(--d)),var(--s) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) 100%,100% 100%,calc(100% - var(--c)) calc(50% + var(--d)));
  background-color: #6aaa63; /* the main color */
}

/* Game cards */

.container.game {
    display: flex;
    overflow-x: scroll;
    padding: 1em;
}

.container.game::-webkit-scrollbar {
    display: none;
}

.container .card {
    margin-right: 1em;
    min-width: auto;
    border: none;
}

.container .card.main-card {
    min-width: 90%;
}

.container .card.thumbnail-card {
    min-width: 50%;
}

.container .card.thumbnail-card .badge {
    padding: 6px;
    box-shadow: 1px 1px 5px #aaa;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .card-body-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    width: 100%;
}

.container .card.thumbnail-card .card-body-description {
    justify-content: center;
}

.card .card-body-description div .card-title {
    font-weight: 700;
}

.card .card-body-description div .card-text {
    opacity: 0.75;
}

.card .card-body-description img {
    width: 81px;
}

.card .card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-link.date {
    font-size: 1.2em;
    font-weight: 500;
}

.card .card-links .card-link.author {
    font-size: 0.9em;
    opacity: 0.75;
}

.card#the-mini-card {
    background-color: #96BEFA;
    border: none;
}

.card#wordle-card {
    background-color: #e3e3e1;
    border: none;
}

.card#connections-card {
    background-color: #b4a8ff;
    border: none;
}

.card#strands-card {
    background-color: #c0ddd9;
    border: none;
}

/* Game screens */

.container.intro-screen-container,
.container.game-container {
    position: absolute;
    top: 0;
}

.container.intro-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 5em 4em;
    background-color: #E3E3E1;
    z-index: 100;
}

.container.intro-screen-container .intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.container.intro-screen-container .intro-screen .title {
    font-size: 2em;
}

.container.intro-screen-container .intro-screen div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container.intro-screen-container .intro-screen .btn {
    min-width: 10em;
}

.container.intro-screen-container .intro-screen div.footer p {
    margin-bottom: 0;
}

.container.game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container.game-container .game-navbar {
    border-bottom: 1px solid #aaa;
    padding: 0.5em 0;
}

.container.game-container .game-navbar .btn#back-button {
    padding: 0 10px;
}

/* Wordle */

.wordle-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.wordle-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
}

.wordle-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.wordle-tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 2px solid #d3d6da;
}

.wordle-tile.correct {
    background-color: #6aaa64;
    color: #fff;
    border: none;
}

.wordle-tile.present {
    background-color: #c9b458;
    color: #fff;
    border: none;
}

.wordle-tile.absent {
    background-color: #787c7e;
    color: #fff;
    border: none;
}

.wordle-tile::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
}

.wordle-keyboard {
    height: 200px;
    user-select: none;
}

.wordle-keyboard .keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.wordle-keyboard .keyboard-row .key {
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 calc(4px * 1.5) 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    color: #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}

.wordle-keyboard .keyboard-row .half-key {
    flex: .5;
}

.wordle-keyboard .keyboard-row .one-and-a-half-key {
    flex: 1.5;
    font-size: 12px;
}