body, .body-font {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: "DM Serif Display", serif;
}

.nyt-logo-font {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 700;
  font-style: normal;
}

.subheading-font {
    font-family: "Georgia", serif;
}

.container {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.btn {
    border-radius: 1.5em;
    padding: 12px 24px;
}

/* Navbar */

.navbar {
    background-color: #fff;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    font-size: 1.25em;
    padding-right: 5px;
    border-right: 1px solid #555;
}

.navbar-brand .title {
    font-size: 1.5em;
    padding-left: 5px;
}

#fixed-navbar-spacing {
    height: 50px;
}

/* Greetings */

.container.intro,
.container.outro {
    text-align: center;
}

.ribbon {
  font-size: 0.9em;
  color: #fff;
  transform: rotate(-2deg);
  margin: 5px 0;
}

.ribbon {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: var(--d) calc(var(--s) + .5em);
  line-height: 2;
  background: 
    conic-gradient(from  45deg at left  var(--s) top var(--d),
     #0008 12.5%,#0000 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(100% calc(2*var(--d)),calc(100% - var(--s)) calc(2*var(--d)),calc(100% - var(--s)) var(--d),calc(var(--s) + var(--d)) var(--d),calc(var(--s) + var(--d)) 0,0 0,var(--c) calc(50% - var(--d)),0 calc(100% - 2*var(--d)),var(--s) calc(100% - 2*var(--d)),var(--s) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(100% - var(--s) - var(--d)) 100%,100% 100%,calc(100% - var(--c)) calc(50% + var(--d)));
  background-color: #6aaa63; /* the main color */
}

/* Game cards */

.container.game {
    display: flex;
    overflow-x: scroll;
    padding: 1em;
}

.container.game::-webkit-scrollbar {
    display: none;
}

.container .card {
    margin-right: 1em;
    min-width: auto;
    border: none;
}

.container .card.main-card {
    min-width: 90%;
}

.container .card.thumbnail-card {
    min-width: 50%;
}

.container .card.thumbnail-card .badge {
    padding: 6px;
    box-shadow: 1px 1px 5px #aaa;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .card-body-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    width: 100%;
}

.container .card.thumbnail-card .card-body-description {
    justify-content: center;
}

.card .card-body-description div .card-title {
    font-weight: 700;
}

.card .card-body-description div .card-text {
    opacity: 0.75;
}

.card .card-body-description img {
    width: 81px;
}

.card .card-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-link.date {
    font-size: 1.2em;
    font-weight: 500;
}

.card .card-links .card-link.author {
    font-size: 0.9em;
    opacity: 0.75;
}

.card#the-mini-card {
    background-color: #96BEFA;
    border: none;
}

.card#wordle-card {
    background-color: #e3e3e1;
    border: none;
}

.card#connections-card {
    background-color: #b4a8ff;
    border: none;
}

.card#strands-card {
    background-color: #c0ddd9;
    border: none;
}

/* Game screens */

.container.intro-screen-container,
.container.game-container {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -100;
}

.container.intro-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 5em 4em;
    background-color: #E3E3E1;
    z-index: 50;
}

.container.intro-screen-container .intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.container.intro-screen-container .intro-screen .title {
    font-size: 2em;
}

.container.intro-screen-container .intro-screen div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container.intro-screen-container .intro-screen .btn {
    min-width: 10em;
}

.container.intro-screen-container .intro-screen div.footer p {
    margin-bottom: 0;
}

.container.game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}

.container.game-container .game-navbar {
    border-bottom: 1px solid #aaa;
    padding: 0.5em 0;
}

.container.game-container .game-navbar .btn#back-button {
    padding: 0 10px;
}

/* Wordle */

.wordle-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.wordle-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
}

.wordle-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.wordle-tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 2px solid #d3d6da;
}

.wordle-tile.correct {
    background-color: #6aaa64;
    color: #fff;
    border: none;
}

.wordle-tile.present {
    background-color: #c9b458;
    color: #fff;
    border: none;
}

.wordle-tile.absent {
    background-color: #787c7e;
    color: #fff;
    border: none;
}

.wordle-tile::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
}

.wordle-keyboard {
    height: 200px;
    user-select: none;
}

.wordle-keyboard .keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.wordle-keyboard .keyboard-row .key {
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 calc(4px * 1.5) 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #d3d6da;
    color: #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}

.wordle-keyboard .keyboard-row .half-key {
    flex: .5;
}

.wordle-keyboard .keyboard-row .one-and-a-half-key {
    flex: 1.5;
    font-size: 12px;
}

/* Connections */

.container.intro-screen-container.connections {
    background-color: rgb(179, 167, 254);
}

.instructions,
.mistakes-counter,
.action-buttons {
    text-align: center;
}

.instructions {
    margin-top: 1em;
}

.connections-board {
    position: relative;
    margin: 20px auto;
    width: calc(2 * 8px + 4 * 22.5vw);
    height: calc(2 * 8px + 4 * 22.5vw);
}

.connections-grid {
    position: absolute;
    bottom: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width: calc(2 * 8px + 4 * 22.5vw);
    height: calc(2 * 8px + 4 * 22.5vw);
    display: grid;
    gap: 8px;
    min-height: 0;
    min-width: 0;
}

.connections-tile {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #efefe6;
    color: #121212;
    z-index: 0;
    container-type: inline-size;
    font-size: clamp(10px, 3cqi, 16px)
}

.connections-tile.selected {
    background-color: #5a594e;
    color: #f8f8f8;
    z-index: 1;
}

.mistakes-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a594e;
}

.mistakes-counter .mistake-bubbles {
    display: flex;
    gap: calc(4px * 2.5);
    margin-left: calc(4px * 2.5);
    min-width: 120px;
}

.mistakes-counter .mistake-bubbles .mistake-bubble {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #5a594e;
}

.action-buttons #submit-button:enabled {
    background-color: #121212;
    color: #f8f8f8;
}

.connections-solved {
    width: calc(2 * 8px + 4 * 22.5vw);
    height: calc(2 * 8px + 4 * 22.5vw);
    gap: 8px;
    display: grid;
    min-width: 0;
    min-height: 0;
    grid-template-rows: repeat(4, 1fr);
    position: absolute;
    grid-template-columns: 1fr;
    top: 0;
    margin: 0 auto;
}

.answer-group {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    z-index: 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    min-width: 0;
    color: #121212;
    font-size: 15px;
    line-height: 18px;
}

.answer-group p {
    margin-bottom: 0;
}

.answer-group .answer-heading {
    font-weight: 700;
}

.answer-group#answer-0 {
    background-color: #f9df6d;
}

.answer-group#answer-1 {
    background-color: #a0c35a;
}

.answer-group#answer-2 {
    background-color: #b0c4ef;
}

.answer-group#answer-3 {
    background-color: #ba81c5;
}

/* Strands */

.container.intro-screen-container.strands {
    background-color: #C0DDD9;
}

.strands-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-height: 750px;
    margin-top: unset;
}

.strands-board .theme-box {
    margin-top: 2vh;
    width: 315px;
    height: fit-content;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    overflow-wrap: normal;
}

.strands-board .theme-box h3 {
    color: #121212;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .96px;
    text-transform: uppercase;
    text-align: center;
    align-self: flex-start;
    z-index: 10;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 315px;
    height: 16px;
    border-radius: 7px 7px 0px 0px;
    background: #aedfee;
}

.strands-board .theme-box h1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: calc(56px / 8);
    text-align: center;
}

.strands-board #word-spelled {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    min-height: 29px;
    max-width: 314px;
    overflow-wrap: break-word;
}

.strands-board #word-spelled.correct {
    color: #aedfee;
}

.strands-board #word-spelled.spangram {
    color: #f8cd05;
}

.strands-board .progress-box {
    display: flex;
    align-items: center;
    width: 324px;
    gap: 20px;
    justify-content: space-between;
}

.word-search {
    width: 100%;
    touch-action: none;
    position: relative;
    display: grid;
    place-content: center;
}

.word-search .word-search-grid {
    display: grid;
    width: 324px;
    gap: calc(4px * 2.5);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.word-search .word-search-grid .letter-tile,
.word-search .word-search-grid .letter-tile-button {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #fff0;
    display: grid;
    place-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 26px;
    line-height: 70%;
}

.word-search .word-search-grid .letter-tile-selected {
    width: fit-content;
    height: fit-content;
}

.word-search .word-search-grid .letter-tile-button {
    background-color: #dbd8c5;
    color: #121212;
    border: 0;
    margin: 0;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: #fff0;
}

.word-search .word-search-grid .letter-tile-button.correct {
    background-color: #aedfee;
}

.word-search .word-search-grid .letter-tile-button.spangram {
    background-color: #f8cd05;
}

.word-search #stroke-wrapper {
    width: 324px;
    height: 422px;
    position: absolute;
    z-index: -1;
    background-color: #fff0;
    top: 0;
    left: calc(50% - 162px);
}

.word-search #stroke-wrapper svg {
    width: 324px;
    height: 422px;
}